
<div class="container p-4">
  <div class="jumbotron">
    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingZero">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">Profile</a>
          </h5>
        </div>
        <div id="collapseZero" class="collapse show" role="tabpanel" aria-labelledby="headingZero" data-parent="#accordion">     
            <div class="media">
              <img class="mr-3 animated zoomIn" src="../assets/images/raju.jpg" alt="raju">
              <div class="media-body">
                <h5 class="mt-0 text-clr">Raju Uppasetty</h5>
                <div class="p1">
                  <p>An Enterprise Architect specialized in integration of PLM systems with ERP (SAP and Oracle Apps) systems.
                  </p>
                  <p>With 13+ years of professional experience, I focus on delivering solutions to complex enterprise wide applications
                    with thorough analysis, design, development, customization and implementation of PLM Systems.
                  </p>
                  <p>Having begun my career working as Software Engineer in PTC R&D developing ERP integration suite (ESI -
                    Enterprise Systems Integration) for Windchill PDMLink and MPMLink objects, I have progressed through
                    several roles in the organization from Solution Architect to Onsite delivery lead on complex implementation
                    projects.
                  </p>
                  <p>
                    Have comprehensive knowledge of Global Delivery Model, as per this model worked in multiple roles such as Project Manager,
                    Delivery Manager and Business Development Management activities.
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Education</a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div id="masters" class="card-body animated bounceInRight">
            <div class="card border-info mb-3">
              <div class="card-header">Master of Technology - Product Design and Manufacturing</div>
              <div class="card-body">
                <h4 class="card-title text-clr">Areas of specialization</h4>
                <p class="card-text text-dark">
                  Collaborative Product Design & Commerce, Product Design & Development Strategies, Product Lifecycle Management, Design for
                  Manufacturing, Rapid Prototyping, Industrial Design & Ergonomics</p>
                <blockquote class="blockquote text-center animated flash">
                  <a href="http://www.vtu.ac.in/" class="btn btn-info" target="_blank">Visvesvaraya Technological University          
                      <footer class="blockquote-footer">India, 2004</footer></a>
                </blockquote>
              </div>
            </div>
          </div>
          <div id="bachelors" class="card-body animated bounceInLeft">
            <div class="card border-info mb-3">
              <div class="card-header">Bachelor of Engineering - Automobile Engineering</div>
              <div class="card-body">
                <h4 class="card-title text-clr">Areas of specialization</h4>
                <p class="card-text">
                  Advance Theory of I.C. Engines, Advance Auto Transmission CAD&CAM
                </p>
                <blockquote class="blockquote text-center">
                  <a href="http://www.pdaengg.com/" class="btn btn-info" target="_blank">PDA College of Engineering          
                      <footer class="blockquote-footer">India, 2001</footer></a>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Skills
        </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <table class="table table-striped table-bordered text-clr">
            <tbody>
              <tr>
                <th scope="row">PLM</th>
                <td>Windchill -11.x/10.x/9.x/8.0: PDMLink, MPMLink, Options and Variants and ProjectLink, FlexPLM 9.1<br> Enovia:
                  VPM V4, Product Manager
                </td>
              </tr>
              <tr>
                <th scope="row">EAI</th>
                <td>TIBCO: Business Works 2.x/5.x, Designer 4.x/5.x, Administrator 4.x/5.x, Rendezvous 6.x/7.x, HAWK 4.2, JMS
                  3.x, EMS 4.x, ADB Adapter 4.x/5.x, SAP Adapter 4.x/5.x,Oarcale Apps Adapter4.x/5.x.<br> WebSphere: WebSphere
                  Integration Developer V6.1
                </td>
              </tr>
              <tr>
                <th scope="row">ERP</th>
                <td>Open API’s on Oracle Application 11i SAP R/3 4.6/4.7 and ECC 5.0/6.0
                </td>
              </tr>
              <tr>
                <th scope="row">CAD/CAM</th>
                <td>Catia-V5R10, Pro Engineering (2000i)
                </td>
              </tr>
              <tr>
                <th scope="row">Operating Systems</th>
                <td>IBM/AIX, SUN Solaris, HP UNIX 11i, Windows- 2k
                </td>
              </tr>
              <tr>
                <th scope="row">Programming Languages</th>
                <td>Java, J2EE
                </td>
              </tr>
              <tr>
                <th scope="row">Modeling</th>
                <td>Rational Rose
                </td>
              </tr>
              <tr>
                <th scope="row">RDBMS</th>
                <td>Oracle9i & 10g
                </td>
              </tr>
              <tr>
                <th scope="row">Software Configuration Management</th>
                <td>Rational Clear Case (Working Knowledge).
                </td>
              </tr>
              <tr>
                <th scope="row">Process Management</th>
                <td>HP Service Manager, Siebel and BMC’s Remedy (Working knowledge)
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Certifications
        </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-deck">
            <div id="oracle" class="card border-danger animated bounceInRight">
              <div class="card-body">
                <p class="card-text text-danger">Oracle 11i Manufacturing Functional Foundation & Bills of Material and Engineering, Jan 2007 </p>
              </div>
            </div>
            <div id="tibco" class="card border-success animated bounceInRight">
              <div class="card-body">
                <p class="card-text text-success">TIBCO 5.x certified </p>
              </div>
            </div>
            <div id="togaf" class="card  border-info animated bounceInRight">
              <div class="card-body">
                <p class="card-text text-info">TOGAF(Version 9.1) Enterprise Architecture </p>
              </div>
            </div>
            <div id="apics" class="card border-primary animated bounceInRight">
              <div class="card-body">
                <p class="card-text text-primary">APICS Certified Supply Chain Professional </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>