.jumbotron{
    font-family: 'Average', serif;
    font-size:20px;
}

.ima{
    font-family: 'Patua One', cursive;
    font-family: 'Marck Script', cursive;
    font-family: 'Concert One', cursive;
    font-family: 'Tangerine', cursive;
}

.p1{
    font-family: 'Patua One', cursive;
    font-size: 17px;
    color: #626b73;
}

.card-deck{
    margin:20px;
}

.table{
    margin: 20px;
    width: 95%;
}

blockquote footer{
    color: whitesmoke;
}

.media{
    margin: 50px;
}

.media h5{
    font-size: 50px;
}

.media img{
    border-radius: 50%;
}

#bachelors{
    animation-delay: 1s;
}

#tibco{
    animation-delay: 1s;
}

#togaf{
    animation-delay: 2s;
}

#apics{
    animation-delay: 3s;
}