
.carousel-caption{
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

.carousel-caption a{
    font-family: 'Patua One', cursive;
    color:whitesmoke
}

.small{
    padding-bottom: 15%;
}

.btn{
    margin:2px;
    }

.list-group-item{
    text-align: left;
}    

.blockquote-footer{
    color: whitesmoke
}

.list-group{
     margin: 10px 20px 10px 10px;
}
