.container-fluid{
    padding:10px;
    background: linear-gradient(180deg,#4298b5,#2e697d);
}
a{
    color:whitesmoke;
    font-family: 'Ubuntu', sans-serif;    
    font-size: 20px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #2e697d;
   text-align: center;
}

